
/*--- BODY CUSTOM ---*/

.body-custom{
    background-image: url('/storage/app/public/images/background-images/library-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}


/*--- NAVBAR-CUSTOM ---*/

.navbar-dark{
    font-family:'Times New Roman', Times, serif;
}

/*--- HEADER-CUSTOM ---*/

.header-custom{
    margin-bottom: 30px;
    text-align: center;
    
}
