
/*--- BODY CUSTOM ---*/

.body-custom{
    background-image: url('/storage/app/public/images/background-images/library-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/*--- NAVBAR-CUSTOM ---*/

.navbar-dark{
    font-family:'Times New Roman', Times, serif;
}

/*--- HEADER-CUSTOM ---*/

.header-custom{
    margin-bottom: 30px;
    text-align: center;
}

.btn-user{
    text-decoration: none;
    text-align: center;
    background-color: rgb(53, 0, 67);
    color: wheat;
    padding-left: 10px;
    padding-right: 10px;
    border-style: hidden;
    border-radius: 10px;
}

.btn-user:hover{
    box-shadow: rgba(255, 106, 0, 0.679) 1px 1px 5px 5px;
}